body{
  margin:0 auto;
  background: #ccc;
}

h1{
	text-align: center;
}

.container{
	position:absolute;
  left:20px;
}


.alert-updater-modal {
  position: absolute; 
  left: 15%; 
  top: -800px; 
  background-color: #ffffff;
  width: 70%;
  min-height: 300px; 
  height:70%;
  z-index: 100; 
  -webkit-transition:top 0.5s;
  -moz-transition:top 0.5s;
  -ms-transition:top 0.5s;
  transition:top 0.5s;
}

.alert-updater-fade {
  display: none;  
  position: absolute;  
  left: 0;
  top: 0; 
  background-color: black;

  -webkit-opacity: 0.7; 
  -moz-opacity: 0.7;
  -ms-opacity: 0.7; 
  opacity: .70;

  width: 100%;
  height: 100%;
  z-index: 90;
}

.alert-updater-header {
	position:absolute;
	background: #006CB7;
	top: 0;
	width:100%;
	text-align: center;
	height:60px;
	white-space:nowrap; 
	text-overflow:ellipsis
}

.alert-updater-container {
	position: absolute;
	top: 60px;
	width:100%;
/*	height:65%;*/
}

.alert-updater-footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
}

.alert-updater-okbtn {
	position: absolute;
	cursor: pointer;
	background: #006CB7;
	left: 30%;
	right: 30%;
	width: 38%;
	padding: 10px;
	text-align: center;
}
